/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #101828;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}